<div class="projects-wrapper">
    <ul class="portfolio-items">
        <li class="item">
            <figure>
                <div class="view">
                    <img src="../img/IMG_2929.JPG" class="gumballPic" ng-click= "$ctrl.dropGumball()"/>
                </div>
                <figcaption>
                    <p><span><a href="fix">Gumball</a></span></p>
                    <p><span>5 Tickets</span></p>
                   </figcaption>
            </figure>
            <div class="date">5 tickets</div>
        </li>

        <li class="item">
            <figure>
                <div class="view">
                    <img src="../img/IMG_2928.JPG" class="krakenPic" ng-click= "$ctrl.launchRDS()"/>
                </div>
                <figcaption>
                    <p><span><a href="fix">Release the Kraken!</a></span></p>
                    <p><span>10 tickets</span></p>
                </figcaption>
            </figure>
            <div class="date">10 tickets</div>
        </li>
        <li class="item greyedOut">
            <figure>
                <div class="view">
                    <img src="../img/schools-elementary-school-rock-n-recess.png" />
                </div>
                <figcaption>
                    <p><span><a href="fix">Extra Recess</a></span></p>
                    <p><span>15 tickets</span></p>
                </figcaption>
            </figure>
            <div class="date">15 Tickets</div>
        </li>
        <li class="item greyedOut">
            <figure>
                <div class="view">
                    <img src="../img/snake.jpg" />
                </div>
                <figcaption>
                    <p><span><a href="fix">Snake Keychain</a></span></p>
                    <p><span>20 tickets</span></p>
                </figcaption>
            </figure>
            <div class="date">20 tickets</div>
        </li>

        <li class="item greyedOut">
            <figure>
                <div class="view">
                    <img src="../img/wallcrawl.jpeg" />
                </div>
                <figcaption>
                    <p><span><a href="fix">Wallcrawler</a></span></p>
                    <p><span>20 tickets </span></p>
                </figcaption>
            </figure>
            <div class="date">20 tickets</div>
        </li>

        <li class="item greyedOut">
            <figure>
                <div class="view">
                    <img src="../img/Captainunderpantscover.jpg" />
                </div>
                <figcaption>
                    <p><span><a href="fix">Book</a></span></p>
                    <p><span>50 tickets</span></p>
                </figcaption>
            </figure>
            <div class="date">50 tickets</div>
        </li>

        <li class="item greyedOut">
            <figure>
                <div class="view">
                    <img src="../img/pizza.jpg" />
                </div>
                <figcaption>
                    <p><span><a href="fix">Pizza Party!</a></span></p>
                    <p><span>100 tickets</span></p>
                </figcaption>
            </figure>
            <div class="date">100 tickets</div>
        </li>
    </ul>
</div>
